lambda_ImgLoad1Sec/lambda_deployment.zip
lambda_ImgLoad1Sec/PIL/
lambda_ImgLoad1Sec/Pillow-10.0.0.dist-info/
lambda_ImgLoad1Sec/Pillow.libs/
simple_python_MT_server/PIL/
simple_python_MT_server/Pillow-10.0.0.dist-info/
simple_python_MT_server/Pillow.libs/